/*award area 1***********************/
.award-wrap-area {
    list-style: none;
    padding: 0;
    margin: 0;
    .single-award-list {
        display: flex;
        border-bottom: 2px solid $title-color;
        padding-bottom: 31px;
        padding-top: 26px;
        &:first-child {
            border-top: 2px solid $title-color;
        }
        .award-tag,
        .award-year {
            font-size: 14px;
            font-weight: 600;
            font-family: $body-font;
            color: $title-color;
            letter-spacing: -0.14px;
            transition: 0.4s;
        }
        .award-details {
            margin-left: 100px;
            transition: 0.4s;
            position: relative;
            h4 {
                font-size: 20px;
                font-weight: 300;
                font-family: $body-font !important;
                margin-bottom: 3px;
                a {
                    color: $title-color;
                    &:hover {
                        color: $title-color;
                    }
                }
            }
            p {
                font-size: 18px;
                font-weight: 200;
                margin-bottom: -0.3em;
            }
        }
        .award-tag {
            margin-left: auto;
            text-transform: none;
        }
        &:hover {
            .award-details,
            .award-year {
                transform: translateX(1.5rem);
                transform-style: preserve-3d;
            }
            .award-tag {
                transform: translateX(-1.5rem);
                transform-style: preserve-3d;
            }
        }
        &.style2 {
            .award-details h4 {
                font-size: 36px;
                margin-top: -0.1em;
                margin-bottom: 8px;
                @include lg {
                    font-size: 30px;
                }
                @include md {
                    font-size: 24px;
                }
            }
            .award-meta {
                font-size: 18px;
                font-weight: 200;
                font-family: $body-font;
                a {
                    color: $title-color;
                    &:after {
                        content: '/';
                        position: relative;
                        margin-left: 3px;
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        @include lg {
            .award-details {
                margin-left: 50px;
            }
        }
        @include md {
            .award-details p {
                font-size: 16px;
            }
        }
        @include sm {
            display: block;
            transition: 1.0s;
            .award-details {
                margin-left: 0;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            .award-tag {
                margin-bottom: -0.5em;
                display: block;
                transform: none;
            }
            &:hover {
                .award-details,
                .award-year {
                    transform: none;
                }
                .award-tag {
                    transform: none;
                }
            }
        }
        @include xs {
            .award-details h4 {
                font-size: 22px;
            }
            .award-details p {
                font-size: 14px;
            }
            .award-details .award-thumb {
                display: none;
            }
        }
    }
}
